
body {
    background-image: url('https://i.imgur.com/X20ii9K.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1, h3{
    text-align:center;
    font-family: "Roboto";
    max-width: 800px;
}

p{
    text-align:center;
    text-shadow: 3pt black;
    max-width: 800px;
    font-family:"Roboto";
    font-weight: bold;
}

.info{
    margin: auto;
    max-width: 800px;
}
.weiter{
    margin: -20px -50px;
    position:relative;
    left:47.5%;
}

img{ 
    border-color: black;
    border-width: 1px;
    border-style: solid;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

table{
    font-family:Arial, Helvetica, sans-serif
}

#helptext{
    text-align: left;
    font-size: 10pt;
}
