
body {
    background-image: url('https://i.imgur.com/X20ii9K.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1, h3, p{
    text-align:center;
    max-width: 800px;
}

.info{
    margin: auto;
    max-width: 800px;
}
.weiter{
    margin: -20px -50px;
    position:relative;
    left:50%;
}