* {box-sizing:border-box}

.left_chart{
    position: absolute;
    left: 550px;
    top: 80px;

}
.right_chart{
    position: absolute;
    left: 1000px;
    top: 80px;

}
.D_Karte{
    position: absolute;
    left: 50px;
    top: 70px;
    width: 400px;

}
.D_Karte img{
    height: 100%;
    width: 100%;
}
.Schloss, .Trashcan, .Abgeschlossen, .EbeneZurückL, .EbeneZurückR{
    font-style: italic;
    position: absolute;
    z-index: 1;
}
.Trashcan{
    left: 1010px;
    top: 130px;
}
.Schloss{
    left: 890px;
    top: 130px;
}

.Abgeschlossen{
    left: 915px;
    top: 137px;
}

.EbeneZurückL{
    left: 580px;
    top: 540px;
}
.EbeneZurückR{
    left: 1020px;
    top: 540px;
}
.glyphicon-share-alt{
    display: inline-block;
    transform:  rotate(200deg);
}

.Trennlinie{
    position: absolute;
    left: 975px;
    top: 100px;
    fill: #ffffff;
    box-shadow: 6px 6px 5px black;
    opacity: 30%;

}

.Ersatztext{
    position: absolute;
    text-align: center;
    color: dimgray;
    opacity: 60%;
    width: 300px;
    left: 1060px;
    top: 330px;
    z-index:  -1;
}

.Suchleiste{
    position: absolute;
    left: 50px;
    top: 50px;
    transform: scale(0.8);
    z-index: 1;
}

