* {box-sizing:border-box}

body {
    background-image: url('Img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.circlelegend, .circlelegend2{
    position: absolute;
    top: -50px;
    left: 0px;
    z-index: -10;
}

.circlelegend2{
    top: -50px;
    font-size: 24px;
    color: black;
    width: 1000px;
    left: -150px;
    color: #502020

}

.left_chart{
    position: absolute;
    left: 550px;
    top: 80px;
    max-width:480px;
    max-height:480px;
    overflow: hidden;

}

.right_chart{
    position: absolute;
    left: 1000px;
    top: 80px;
    max-width:480px;
    max-height:480px;
    overflow: hidden;

}
.D_Karte{
    position: absolute;
    top: -50px;
    width: 400px;
    left: 50px;
    transform: scale(0.6);
}

.Schloss, .Trashcan, .Abgeschlossen, .EbeneZur端ckL, .EbeneZur端ckR{
    font-style: italic;
    position: absolute;
    z-index: 1;
}
.Trashcan{
    left: 1010px;
    top: 130px;
}
.Schloss{
    left: 890px;
    top: 130px;
}

.Abgeschlossen{
    left: 915px;
    top: 137px;
}

.EbeneZur端ckL{
    left: 580px;
    top: 540px;
}
.EbeneZur端ckR{
    left: 1020px;
    top: 540px;
}
.glyphicon-share-alt{
    display: inline-block;
    transform:  rotate(200deg);
}

.Trennlinie{
    position: absolute;
    left: 975px;
    top: 100px;
    fill: #ffffff;
    box-shadow: 6px 6px 5px black;
    opacity: 30%;

}

.Ersatztext{
    position: absolute;
    text-align: center;
    color: dimgray;
    opacity: 60%;
    width: 300px;
    left: 1060px;
    top: 330px;
    z-index:  -1;
}

.Suchleiste, .Suchfeld, .Dropdown{
    position: absolute;
    transform: scale(0.9);
    left: 50px;
    top: 15px;
    z-index: 1;
}
.Suchfeld{
    left: 122px;
}

.Timeslider{
    position: absolute;
    top: 500px;
    left: -150px;
    transform: scale(0.6);
    z-index: 1;
}

#play-button {
    position: absolute;
    top: 140px;
    left: 50px;
    background: #f08080;
    padding-right: 26px;
    border-radius: 3px;
    border: none;
    color: white;
    margin: 0;
    padding: 0 0px;
    width: 60px;
    cursor: pointer;
    font-size: 16px;
    height: 30px;
}

#play-button:hover {
    background-color: #696969;
}

.ticks {
    font-size: 16px;
}

.track,
.track-inset,
.track-overlay {
    stroke-linecap: round;

}

.track {
    stroke: #000;
    stroke-opacity: 0.3;
    stroke-width: 10px;
}

.track-inset {
    stroke: #dcdcdc;
    stroke-width: 8px;

}

.track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    stroke: transparent;
    cursor: crosshair;
    font-size: 14px;
}

.handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: 0.5;
    stroke-width: 1.25px;
}

.RegionTitel{
    position: absolute;
    top: 750px;
    left: 40px;
    text-align: center;
    font-size: 40px;
    width: 700px;
}
.label{
    font-size: 16px !important;
}

.Datepicker{
    position: absolute;
    top: 650px;
    left: 600px;
    z-index: 2;
}

.LegendePie{
    position: absolute;
    transform: scale(0.35);
    left: 580px;
    top: 560px;
}

.hilfebutton{
    position:absolute;
    text-align:right;
    transform:scale(1.3);
    top:20px;
    right:20px;
}

.alterlegende{
    position: absolute;
    transform: scale(0.35);
    top: 30px;
}

.alterslegendetext{
    position: absolute;
    left: 150px;
    top: 90px;
    color: darkblue;
}